
{{ partial "menu" .}}

<section class="slice slice-lg bg-tertiary bg-cover bg-size--contain" style="background-image: url('/img/backgrounds/img-1.jpg'); background-position: center 10%;">
  <span class="mask bg-indigo alpha-7"></span>
  <div class="container text-center">
    <div class="row cols-xs-space cols-sm-space cols-md-space">
      <div class="col-12">
        <h2 class="heading text-white h1 strong-600">
          {{.Title}}
        </h2>
        <div class="row justify-content-center mt-4">
          <div class="col-lg-8">
            <p class="lead text-white">
              {{.Description | markdownify}}
            </p>
            {{if .Params.btnLink}}
            <div class="btn-container mt-5">
              <a href="{{.Params.btnLink}}" class="btn bg-white px-4">
                {{.Params.btnText}}
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-lighter border-top border-bottom" id="scrollToSection">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <span class="heading h4 ml-3 mb-0">{{.Params.ctaDaftar}} <a target="_blank" href="/pendaftaran">disini</a></span>
      </div>
    </div>
  </section>