<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="STID Sirnarasa">
    
    <link rel="icon" type="img/png" href="/favicon.png">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="{{ .Description }}">
    <title>{{ .Title }} | {{.Site.Title}}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="/css/theme.css" rel="stylesheet">

    {{ template "_internal/schema.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}