
{{ partialCached "menu" .}}

<section class="slice slice-lg bg-cover bg-size--cover" style="{{ if eq .Params.image "" }}background-color: #ff9472;
{{else}}background: url('{{ .Params.image }}') center center no-repeat;background-size: cover; {{end}}">
  <div class="mask bg-dark alpha-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-lg-auto">
        <div class="card py-5 px-4 z-depth-3">
          <div class="card-body">
            <h2 class="heading h2">
              {{.Title}}
            </h2>
            <p class="lead lh-180 mt-4">
              {{.Description | markdownify}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>