<section class="slice slice-lg" data-delimiter="1">
    <div class="container">
      <div class="mb-md text-center">
        <h3 class="heading h3">Dari STID Sirnarasa, Untuk Peradaban Dunia.</h3>
        <div class="fluid-paragraph text-center mt-4">
          <p class="lead lh-180">
            Exercitation magna dolore laboris ex labore pariatur aute voluptate anim sint dolore. Ullamco et in excepteur quis in pariatur est consectetur eu incididunt voluptate nostrud qui.
          </p>
        </div>
      </div>
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-4">
          <div class="card">
            <img src="/img/prv/team-1.jpg" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">Alexis Enache</span>
                <small class="text-muted">Founder and Web Developer</small>
              </h3>
              <p class="mt-2">Creator of Boomerang, developer at Webpixels.</p>
              <a href="https://instagram.com/extrabright" target="_blank" class="btn btn-sm btn-primary">View on
                Instagram</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="/img/prv/team-2.jpg" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">David Wally</span>
                <small class="text-muted">UI/UX Designer</small>
              </h3>
              <p class="mt-2">Design at Webpixels, creator of Boomerang.</p>
              <a href="https://instagram.com/extrabright" target="_blank" class="btn btn-sm btn-primary">View on
                Instagram</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="/img/prv/team-3.jpg" class="card-img-top">
            <div class="card-body text-center">
              <h3 class="heading h5 mb-1">
                <span class="d-block">Cliff Simon</span>
                <small class="text-muted">Front-End Developer</small>
              </h3>
              <p class="mt-2">Clean code developer, creator of Boomerang</p>
              <a href="https://instagram.com/extrabright" target="_blank" class="btn btn-sm btn-primary">View on
                Instagram</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>