{{ range first 6 (where .Site.Pages "Type" "post") }}
<a class="d-flex align-items-center" href="{{.RelPermalink}}">
<div class="card mb-2">
    <img class="card-img-top img-fluid"  src='{{ if eq .Params.image "" }}/img/stid-thumbnail.png{{else}}{{ .Params.image }}{{end}}' alt="{{.Title}}">
    <div class="card-body">
        <h4 class="card-title">{{.Title}}</h4>
        <p class="card-text">{{ .Date.Format "Jan 2 ,2006" }} - Dibaca dalam {{ .ReadingTime }} menit.</p>
    </div>
</div>
</a>
{{ end }}