<div class="text-center mt-3">
    <h3>Berita & Kajian Terbaru</h3>
</div>
<article class="card-post bg-primary">
    <div class="container">
        <div class="row">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }}
            {{ range $paginator.Pages }}
                <div class="col-md-4 mb-4 d-flex mb-3 mt-3">
                    <div class="card zhadowi">
                        <a href="{{ .RelPermalink }}">
                        <img class='card-img-top' 
                            src='{{ if eq .Params.image "" }}/img/stid-thumbnail.png{{else}}{{ .Params.image }}{{end}}'
                            alt='{{ .Title }}'>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h4>
                        </div>
                    </div>

                </div>
            {{ end }}
        </div>
    </div>
</article>

<br>

<div class="container">
    {{ partial "pagination.html" . }}
</div>