<section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 push-md-6">
                    <div class="p-5">
                        <amp-img alt="Sekolah Tinggi Ilmu Dakwah" class="img-fluid rounded-circle" src="img/maket.jpg"  width="300" height="300" layout="responsive"></amp-img>
                    </div>
                </div>
                <div class="col-md-6 pull-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Kampus Peradaban</h2>
                        <p>Kampus STID Sirnarasa terlahir dari cita-cita besar Abah Aos, Founder lembaga pendidikan Islam tradisional
                            pesantren Sirnarasa dan penerima mandat pembinaan ikhwan TQN Pesantren Suryalaya sebelumnya.
                            Visi tersebut adalah "TQN Suryalaya menyongsong peradaban dunia". Visi tersebut terintegrasi
                            dan terinternalisasi di dalam tubuh STID Sirnarasa. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <amp-img alt="Sekolah Tinggi Ilmu Dakwah" class="img-fluid rounded-circle" src="img/round2.jpg"  width="300" height="300" layout="responsive"></amp-img>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Profesional Berakhlakul Karimah</h2>
                        <p>STID Sirnarasa memiliki dedikasi untuk membentuk lulusan yang berakhlakul karimah, berjiwa sufi,
                            dan berkompetensi dalam bidang komunikasi penyiaran Islam dan bimbingan penyuluhan Islam. Sehingga
                            mampu berkiprah menjawab tantangan dalam berbagai elemen masyarakat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 push-md-6">
                    <div class="p-5">
                        <amp-img alt="Sekolah Tinggi Ilmu Dakwah" class="img-fluid rounded-circle" src="img/dua.jpg"  width="300" height="300" layout="responsive"></amp-img>
                    </div>
                </div>
                <div class="col-md-6 pull-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Pesantren Mahasiswa Terpadu</h2>
                        <p>Pesantren Mahasiswa "Saefulloh Maslul" menawarkan pendidikan sufi terpadu dengan kurikulum kampus
                            STID Sirnarasa dan menanamkan <a href="https://en.wikipedia.org/wiki/Life_skills" target="_blank">life skills</a>                            kepada Santri Mahasiswa. Sehingga terbentuknya alumni yang menghayati, memahami, menguasai materi
                            agama Islam, mandiri, dan mampu berfikir global beraksi lokal.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid text-center mb-5">
        <a class="btn btn-warning" href="/pendaftaran" target="_blank">Daftar sekarang!</a>
    </div>
