

<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <a href="/"><div class="logofooter"> STID Sirnarasa</div></a>
        <p><i class="fa fa-map-pin"></i> Lingk. Pesantren Sirnarasa, Cisirri, Ds. Ciomas, Kec. Panjalu, Ciamis- Jawa Barat</p>
        <p><i class="fa fa-phone"></i> Phone (Indonesia) : (0265) 7510072</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@stidsirnarasa.ac.id</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Akademik</h6>
        <ul class="footer-ul">
          <li><a href="/kurikulum"> Kurikulum</a></li>
          <li><a href="/kalender-akademik"> Kalender</a></li>
          <li><a href="/program-akademik"> Program</a></li>
          <li><a href="/tentang"> Tentang</a></li>
          <li><a href="/kontak"> Kontak</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Laman</h6>
        <div class="post">
            <ul class="footer-ul">
                <li><a href="/tenaga-pengajar"> Tenaga Pengajar</a></li>
                <li><a href="/kekhasan-kurikulum"> Kekhasan Kurikulum</a></li>
                <li><a href="/visi-misi"> Visi & Misi</a></li>
                <li><a href="#"> Forum Mahasiswa</a></li>
                <li><a href="/pendaftaran"> Pendaftaran</a></li>
              </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><a href="https://fb.com/SekolahTinggiIlmuDakwah"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/stidsirnarasa"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://plus.google.com/u/0/communities/112234251792055157713"><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="/js/stid.min.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>


</body>

</html>