<div class="container-fluid text-center mb-5">
    <a class="btn btn-warning" href="/pendaftaran" target="_blank">Daftar sekarang!</a>
</div>
<!-- Footer -->
<footer class="py-3 bg-faded">
    <div class="container">
        <p class="m-0 text-center">&copy; <a href="https://stidsirnarasa.ac.id">STID Sirnarasa</a> 2017</p>
    </div>
    <!-- /.container -->
</footer>


<!-- Bootstrap core JavaScript -->
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script src="/vendor/tether/tether.min.js"></script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>

</body>

</html>