

<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer-col">
        <a href="/"><div class="logofooter"> STID Sirnarasa</div></a>
        <p><i class="fa fa-map-pin"></i> Lingk. Pesantren Sirnarasa, Cisirri, Ds. Ciomas, Kec. Panjalu, Ciamis- Jawa Barat</p>
        <p><i class="fa fa-phone"></i> Phone (Indonesia) : (0265) 7510072</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@stidsirnarasa.ac.id</p>
        
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Akademik</h6>
        <ul class="footer-ul">
          <li><a href="/kurikulum"> Kurikulum</a></li>
          <li><a href="/kalender-akademik"> Kalender</a></li>
          <li><a href="/program-akademik"> Program</a></li>
          <li><a href="/tentang"> Tentang</a></li>
          <li><a href="/kontak"> Kontak</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Laman</h6>
        <div class="post">
            <ul class="footer-ul">
                <li><a href="/pendaftaran"> Pendaftaran</a></li>
                <li><a href="/tenaga-pengajar"> Tenaga Pengajar</a></li>
                <li><a href="/kekhasan-kurikulum"> Kekhasan Kurikulum</a></li>
                <li><a href="#"> Forum Mahasiswa</a></li>
              </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Social Media</h6>
        <ul class="footer-social">
          <li><a href="https://fb.com/SekolahTinggiIlmuDakwah"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/stidsirnarasa"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://plus.google.com/u/0/communities/112234251792055157713"><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>

</html>