<header class="masthead" style="background-color: indigo;{{ if eq .Params.image "" }}/img/pagisenja.jpg{{else}}background-image: url('{{ .Params.image }}'){{end}}">
    <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ .Title }}</h1>
                    <span class="subheading">{{ .Description }}</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>