<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="author" content="stidsirnarasa.ac.id">
    <link rel="icon" type="img/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ .Permalink }}">

    <title>{{ .Title }} - STID Sirnarasa</title>
    <meta name="description" content="{{ .Description }}">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/stid.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/gradient.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css">



</head>

<body>