<!-- Navigation -->
<nav class="zhadowi navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="Sekolah Tinggi Ilmu Dakwah Sirnarasa"> STID Sirnarasa</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
            
            <div class="collapse navbar-collapse" id="navbarSTID">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://www.stidsirnarasa.ac.id" id="navbarAkademikDD" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Akademik
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarAkademikDD">
                            <a class="dropdown-item" href="/kurikulum">Kurikulum</a>
                            <a class="dropdown-item" href="/kalender-akademik">Kalender</a>
                            
                            <a class="dropdown-item" href="/program-akademik">Program</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarPSDD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Program Study
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarPSDD">
                            <a class="dropdown-item" href="/bpi">Prodi BPI</a>
                            <a class="dropdown-item" href="/kpi">Prodi KPI</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/stidsirnarasa" target="_blank">Publikasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tentang">Tentang</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kontak">Kontak</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>