<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }

    th.tg-sort-header::-moz-selection {
        background: transparent;
    }

    th.tg-sort-header::selection {
        background: transparent;
    }

    th.tg-sort-header {
        cursor: pointer;
    }

    table th.tg-sort-header:after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden;
    }

    table th.tg-sort-header:hover:after {
        visibility: visible;
    }

    table th.tg-sort-desc:after,
    table th.tg-sort-asc:after,
    table th.tg-sort-asc:hover:after {
        visibility: visible;
        opacity: 0.4;
    }

    table th.tg-sort-desc:after {
        border-bottom: none;
        border-width: 4px 4px 0;
    }
</style>
<table id="tg-KGA1n" class="tg table table-striped">
    <thead class="bg-inverse">
        <th scope="row" class="tg-yw4l">No</th>
        <th scope="row" class="tg-yw4l">NIDN/NUPN</th>
        <th scope="row" class="tg-yw4l">Nama</th>
        <th scope="row" class="tg-yw4l">Program Studi</th>
        <th scope="row" class="tg-yw4l">Kode MK</th>
        <th scope="row" class="tg-yw4l">Nama MK</th>
        <th scope="row" class="tg-yw4l">Kelas</th>
        <th scope="row" class="tg-yw4l">SKS</th>
        <th scope="row" class="tg-yw4l">Jumlah </th>
        <th scope="row" class="tg-yw4l">Pertemuan</th>
    </thead>
    <tr>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l">Rencana</td>
        <td class="tg-yw4l">Realisasi</td>
    </tr>
    <tr>
        <td class="tg-yw4l">1</td>
        <td class="tg-yw4l">2103098302</td>
        <td class="tg-yw4l">EUNIS KHOERUNNISA</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20203</td>
        <td class="tg-yw4l">Hadits Dakwah</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">2</td>
        <td class="tg-yw4l">2105087101</td>
        <td class="tg-yw4l">YOYOH WAFIROH NOOR</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20202</td>
        <td class="tg-yw4l">Fiqih Dakwah</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">3</td>
        <td class="tg-yw4l">2108026801</td>
        <td class="tg-yw4l">MAMAN USMAN</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KP 20207</td>
        <td class="tg-yw4l">Epistimologi Dzikrullah</td>
        <td class="tg-yw4l">2B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">4</td>
        <td class="tg-yw4l">2109058102</td>
        <td class="tg-yw4l">SYUHUDUL ANWAR</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20232</td>
        <td class="tg-yw4l">Metodologi Penelitian KPI</td>
        <td class="tg-yw4l">3B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">5</td>
        <td class="tg-yw4l">2113048301</td>
        <td class="tg-yw4l">WITRIN NOOR JUSTIANTINI</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20215</td>
        <td class="tg-yw4l">Dasar-Dasar Ilmu Tabligh</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">6</td>
        <td class="tg-yw4l">2115048601</td>
        <td class="tg-yw4l">HERMANSYAH</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20204</td>
        <td class="tg-yw4l">Tafsir Dakwah</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">7</td>
        <td class="tg-yw4l">2121027201</td>
        <td class="tg-yw4l">AHMAD GOJIN</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20207</td>
        <td class="tg-yw4l">Filsafat Dakwah</td>
        <td class="tg-yw4l">2B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l">16</td>
    </tr>
    <tr>
        <td class="tg-yw4l">8</td>
        <td class="tg-yw4l">2123088501</td>
        <td class="tg-yw4l">FERIYANTO</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KDA 0006</td>
        <td class="tg-yw4l">Filsafat Islam</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">9</td>
        <td class="tg-yw4l">2124047702</td>
        <td class="tg-yw4l">DADANG MULIAWAN</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KL 20204</td>
        <td class="tg-yw4l">Studi Miftahus Sudur IV</td>
        <td class="tg-yw4l">2B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l">16</td>
    </tr>
    <tr>
        <td class="tg-yw4l">10</td>
        <td class="tg-yw4l">8827540017</td>
        <td class="tg-yw4l">UCUP PATHUDIN AL MAARIF</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KDA 0004</td>
        <td class="tg-yw4l">Ilmu Kalam</td>
        <td class="tg-yw4l">1B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l">16</td>
    </tr>
    <tr>
        <td class="tg-yw4l">11</td>
        <td class="tg-yw4l">9921001083</td>
        <td class="tg-yw4l">AHMAD RAMDAN</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KU 20234</td>
        <td class="tg-yw4l">Manajemen Pers Dakwah</td>
        <td class="tg-yw4l">3B</td>
        <td class="tg-yw4l">2.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l">12</td>
        <td class="tg-yw4l">9921011712</td>
        <td class="tg-yw4l">IMADUDDIN SUARGANA</td>
        <td class="tg-yw4l">S1 Komunikasi dan Penyiaran Islam</td>
        <td class="tg-yw4l">KP 20201</td>
        <td class="tg-yw4l">Sosio Antropologi Dakwah</td>
        <td class="tg-yw4l">2B</td>
        <td class="tg-yw4l">3.00</td>
        <td class="tg-yw4l">16</td>
        <td class="tg-yw4l"></td>
    </tr>
</table>
<script type="text/javascript" charset="utf-8">
    var TgTableSort = window.TgTableSort || function (n, t) {
        "use strict";

        function r(n, t) {
            for (var e = [], o = n.childNodes, i = 0; i < o.length; ++i) {
                var u = o[i];
                if ("." == t.substring(0, 1)) {
                    var a = t.substring(1);
                    f(u, a) && e.push(u)
                } else u.nodeName.toLowerCase() == t && e.push(u);
                var c = r(u, t);
                e = e.concat(c)
            }
            return e
        }

        function e(n, t) {
            var e = [],
                o = r(n, "tr");
            return o.forEach(function (n) {
                var o = r(n, "td");
                t >= 0 && t < o.length && e.push(o[t])
            }), e
        }

        function o(n) {
            return n.textContent || n.innerText || ""
        }

        function i(n) {
            return n.innerHTML || ""
        }

        function u(n, t) {
            var r = e(n, t);
            return r.map(o)
        }

        function a(n, t) {
            var r = e(n, t);
            return r.map(i)
        }

        function c(n) {
            var t = n.className || "";
            return t.match(/\S+/g) || []
        }

        function f(n, t) {
            return -1 != c(n).indexOf(t)
        }

        function s(n, t) {
            f(n, t) || (n.className += " " + t)
        }

        function d(n, t) {
            if (f(n, t)) {
                var r = c(n),
                    e = r.indexOf(t);
                r.splice(e, 1), n.className = r.join(" ")
            }
        }

        function v(n) {
            d(n, L), d(n, E)
        }

        function l(n, t, e) {
            r(n, "." + E).map(v), r(n, "." + L).map(v), e == T ? s(t, E) : s(t, L)
        }

        function g(n) {
            return function (t, r) {
                var e = n * t.str.localeCompare(r.str);
                return 0 == e && (e = t.index - r.index), e
            }
        }

        function h(n) {
            return function (t, r) {
                var e = +t.str,
                    o = +r.str;
                return e == o ? t.index - r.index : n * (e - o)
            }
        }

        function m(n, t, r) {
            var e = u(n, t),
                o = e.map(function (n, t) {
                    return {
                        str: n,
                        index: t
                    }
                }),
                i = e && -1 == e.map(isNaN).indexOf(!0),
                a = i ? h(r) : g(r);
            return o.sort(a), o.map(function (n) {
                return n.index
            })
        }

        function p(n, t, r, o) {
            for (var i = f(o, E) ? N : T, u = m(n, r, i), c = 0; t > c; ++c) {
                var s = e(n, c),
                    d = a(n, c);
                s.forEach(function (n, t) {
                    n.innerHTML = d[u[t]]
                })
            }
            l(n, o, i)
        }

        function x(n, t) {
            var r = t.length;
            t.forEach(function (t, e) {
                t.addEventListener("click", function () {
                    p(n, r, e, t)
                }), s(t, "tg-sort-header")
            })
        }
        var T = 1,
            N = -1,
            E = "tg-sort-asc",
            L = "tg-sort-desc";
        return function (t) {
            var e = n.getElementById(t),
                o = r(e, "tr"),
                i = o.length > 0 ? r(o[0], "td") : [];
            0 == i.length && (i = r(o[0], "th"));
            for (var u = 1; u < o.length; ++u) {
                var a = r(o[u], "td");
                if (a.length != i.length) return
            }
            x(e, i)
        }
    }(document);
    document.addEventListener("DOMContentLoaded", function (n) {
        TgTableSort("tg-KGA1n")
    });
</script>