<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main id="content" class="main">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome 5 -->
    <script src="/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Page plugins -->
    <script src="/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/vendor/input-mask/input-mask.min.js"></script>
    <script src="/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="/js/theme.js"></script>
    {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>