{{ define "main"}}
{{partial "home-posts" . }}

{{partial "list-acara" . }}
<section class="slice slice-lg" data-delimiter="1">
  <div class="container">
    <div class="px-4">
      <div class="row justify-content-center cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-7">
          <div class="text-center">
            <h1 class="heading h3">
              Jangan Berhenti Menuntut Ilmu, <b>Daftar Sekarang.</b>
            </h1>
            <p class="lead lh-180 mt-4">
              Menuntut Ilmu itu adalah Ibadah dan sebuah Kewajiban bagi kita umat Manusia. Tidak ada kata terlambat untuk berbuat kebaikan.
            </p>
            <div class="btn-container mt-5">
              <a href="/pendaftaran" target="_blank" class="btn text-white bg-indigo">
                Daftar Sekarang
              </a>
              <a href="/biaya-pendaftaran" class="btn btn-link">Rincian Biaya Pendaftaran</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{end}}