{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "header" . }} 

    <!-- Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <h3>Kegiatan Akademik STID Sirnarasa</h3>
                    <hr>
                            <ol>
                                <li>Perkuliahan Semester Ganjil 03 September 2015–19 Desember 2015</li>
                                <li>UTS Semester Ganjil 29-31 Oktober 2015</li>
                                <li>Maulid STID Sirnarasa 14 November 2015</li>
                                <li>UAS Semester Ganjil 7-9 Januari 2016</li>
                                <li>Pekan Unit Kegiatan Mahasiswa 11-16 Januari 2016</li>
                                <li>Libur Semester Ganjil 11-23 Januari 2016</li>
                                <li>Registrasi Mahasiswa 11-23 Januari 2016</li>
                                <li>Pengisian KRS 24-30 Januari 2016</li>
                                <li>Upgrading Dosen dan Karyawan 16 Januari 2016</li>
                                <li>Rapat Persiapan Perkuliahan 30 Januari 2016</li>
                                <li>Perkuliahan Semester Genap 04 Februari–19 Mei 2016</li>
                                <li>UTS Semester Genap 24-26 Maret 2016</li>
                                <li>UAS Semester Genap 02-04 Juni 2016</li>
                                <li>Libur Semester Genap 05 Juni-30 Juli 2016</li>
                                <li>Pekan Unit Kegiatan Mahasiswa 05-18 Juni 2016</li>
                                <li>Rapat Persiapan Perkuliahan Semester Ganjil 2016 27 Agustus 2016</li>
                                <li>Registrasi Semester Ganjil (mahasiswa lama) 14-27 Agustus 2016</li>
                                <li>Pengisian KRS 13 Agustus 2016</li>
                                <li>Ujian Masuk Tes Tulisan Mahasiswa Baru 20 Agustus 2016</li>
                                <li>Ujian Masuk Tes Lisan Mahasiswa Baru 21 Agustus 2016</li>
                                <li>Pengumuman Hasil Ujian Mahasiswa Baru 26 Agustus 2016</li>
                                <li>Registrasi Mahasiswa (registrasi, konsultasi dengan dosen pembimbing, pengisian dan pengumpulan KRS) 26-29    Agustus 2016</li>
                                <li>Upgrading Dosen dan Karyawan 26 Agustus 2016</li>
                                <li>Taaruf 28-29 Agustus 2016</li>
                                <li>Kuliah Umum 01 September 2016</li>
                                <li>Pertemuan orang tua mahasiswa 10 September 2016</li>
                                <li>Awal Perkuliahan 01 September 2016</li>
                            </ol>
                            <strong>HARI-HARI BESAR dan LIBUR NASIONAL</strong>
                            <ol>
                                <li>Sumpah Pemuda 28 Oktober 2016</li>
                                <li>Hari Raya Natal 25 Desember 2015</li>
                                <li>Hari kemerdekaan Republik Indonesia 17 Agustus 2016</li>
                                <li>Tahun Baru Masehi 01 Januari 2016</li>
                                <li>Tahun Baru Imlek 08 Februari 2016</li>
                                <li>Tahun Baru Saka 09 Maret 2016</li>
                                <li>Wafat Isa Almasih 25 Maret 2016</li>
                                <li>Hari Buruh Nasional 01 Mei 2016</li>
                                <li>Kenaikan Isa Almasih 05 Mei 2016</li>
                                <li>Hari Waisak 22 Mei 2016</li>
                                <li>Hari Pahlawan 10 November 2016</li>
                                <li>Hari Raya Natal 25 Desember 2016</li>
                            </ol>
                            <strong>HARI-HARI BESAR ISLAM</strong>
                            <ol>
                                <li>Maulid Nabi Muhammad SAW 24 Desember 2015</li>
                                <li>Hari Raya Idul Adha 24 September 2015</li>
                                <li>Tahun Baru Hijriyah 14 Oktober 2015</li>
                                <li>Isro Mi’roj Nabi Muhammad SAW 05 Mei 2016</li>
                                <li>Hari Raya Idul fitri 06-07 Juli 2016</li>
                                <li>Cuti Bersama Hari Raya Idul fitri 04-08 Juli 2016</li>
                                <li>Hari Raya Idul Adha 12 September 2016</li>
                                <li>Tahun Baru Hijriyah 02 Oktober 2016</li>
                                <li>Maulid Nabi Muhammad SAW 12 Desember 2016</li>
                            </ol>
                            <strong>KEGIATAN YAYASAN PESANTREN SIRNARASA</strong>
                            <ol>
                                <li>Haul Maulid Abah Anom 01 Januari 2016</li>
                                <li>Maulid Pesantren Sirnarasa 16 Juli 2016</li>
                                <li>Maulid Abah Aos 01 September 2016</li>
                                <li>Ulang Tahun PP Suryalaya 05 September 2016</li>
                            </ol>
                            <em>Ditetapkan di : <a href="https://www.sirnarasa.org">Sirnarasa</a><br>
                            Tanggal: 04 September 2015<br>

                            an. Ketua
                            Wakil Ketua I Bidang Akademik,<br><br><br>

                            <strong> Ucup Pathudin Almaarif, M.Ag </strong><br>
                            NIY. 198203022014091025

                            &nbsp;</em>

                </div>
            </div>
        </div>
    </article>

    {{ partial "social" . }}

    {{ partial "footer" .}}

    {{ partial "jsjs" . }}

    </html>